/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require lightbox
 */
#impression_body{
	width:500px;
	color: #000000;
}
#movie{
	margin: 10px 1% 40px;
	width:23%;
	display: inline-block;
}
#pic{
	height:100%;  
	width: 100%;
}
#main_div{
	
	display: inline-flex;
	flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#main_title{
	display: block;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    background:#1f2123;
    
}
#title{
	text-decoration: none;
	color: #fff;
}
#header{
	color: #9f9f9f;

}
#png{
	height: 40px;
	width: 50px;
}
#nav{
	height: 60px;
	background-color:#263745;
	position: relative;	
}
#head{
	text-decoration: none;
}
#body{
	background-color:#eff1f4;
	min-height: 600px;
}
#html{

	min-height: 700px;
}
#main_tit{
	background-color:#5478a1;
}
#tit{
	color:#fff;
	text-align: center;
}
#i{
	text-decoration: none;
	color:#fff;
}
#main_divy{
	background-color: #f0f0f0;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
#top-info{
	display: flex;
	height: 50%;	
	box-sizing: border-box;
}
#mov{
	width: 30%;
    float: left;
    background-color:#263745;
    padding: 10px;
}
#mov-info{
	width: 70%;
	background-color: #f0f0f0;
}
#desc{
	width: 100%;
}
#photo{
	margin-left: 5px;
	width: 20%;
}
#list{
	display: flex;
}
#text{
	padding: 15px;
	background-color: #b3b3b3;
}
#text2{
	padding: 15px;
}
#footer{
	margin-top: 20px;
	background-color:#263745;
	flex: 0 0 auto;
}